# Geocoding Loan Dataset

In [1]:
import os
import sys
sys.path.append('../')

import pandas as pd

from googleplaces import GooglePlaces, types, lang
from utilities import geocoder


YOUR_API_KEY = os.getenv('GOOGLE_PLACES_API')

In [2]:
# This will be abstracted/replaced later (possibly reading from URI)
df = pd.read_csv('./Data/SFDO_504_7A-clean.csv', dtype={'BorrZip': str})
df['address'] = df.BorrStreet + ',' + df.BorrCity + ',' + df.BorrState + ',' + df.BorrZip.map(str)

In [3]:
df = geocoder.geocode(df=df, api_key=YOUR_API_KEY)

6600 YOUNT ST #12,YOUNTVILLE,CA,94599
0
6476 WASHINGTON STREET,YOUNTVILLE,CA,94599
1
6600 WASHINGTON STREET,YOUNTVILLE,CA,94599
2
6725 WASHINGTON STREET,YOUNTVILLE,CA,94599
3
6488 WASHINGTON ST,YOUNTVILLE,CA,94599
4
6600 Yount Street #12,YOUNTVILLE,CA,94599
5
6498 Washington St.,YOUNTVILLE,CA,94599
6
3456 WASHINGTON STREET,YOUNTVILLE,CA,94559
7
6720 Washington Street.,YOUNTVILLE,CA,94599
8
6488 WASHINGTON STREET,YOUNTVILLE,CA,94599
9

In [4]:
df.head()

,Column,Program,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,BankName,BankStreet,BankCity,...,ChargeOffDate,GrossChargeOffAmount,RevolverStatus,JobsSupported,ThirdPartyLender_Name,ThirdPartyLender_City,ThirdPartyLender_State,ThirdPartyDollars,address,matches
0,3098.0,7A,PER CASO PRODUCTIONS,6600 YOUNT ST #12,YOUNTVILLE,CA,94599,Bank of Hope,"3731 Wilshire Blvd, Ste 1000",LOS ANGELES,...,6/17/2009,11775.0,0.0,2.0,NaN,NaN,NaN,NaN,"6600 YOUNT ST #12,YOUNTVILLE,CA,94599","[<Place name=""Yountville"", lat=38.401578099999..."
1,4752.0,504,WINE GARDEN LLC,6476 WASHINGTON STREET,YOUNTVILLE,CA,94599,Bay Area Employment Development Company,1801 Oakland Boulevard,Walnut Creek,...,NaN,0.0,NaN,25.0,NaN,NaN,NaN,NaN,"6476 WASHINGTON STREET,YOUNTVILLE,CA,94599","[<Place name=""Yountville"", lat=38.401578099999..."
2,5338.0,7A,BORDEAUX HOUSE,6600 WASHINGTON STREET,YOUNTVILLE,CA,94599,Bank of the West,180 Montgomery St,SAN FRANCISCO,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,"6600 WASHINGTON STREET,YOUNTVILLE,CA,94599","[<Place name=""Yountville"", lat=38.401578099999..."
3,5836.0,7A,"VITA PARTNERS, LLC",6725 WASHINGTON STREET,YOUNTVILLE,CA,94599,First Republic Bank,111 Pine St,SAN FRANCISCO,...,NaN,0.0,0.0,85.0,NaN,NaN,NaN,NaN,"6725 WASHINGTON STREET,YOUNTVILLE,CA,94599","[<Place name=""Yountville"", lat=38.401578099999..."
4,12154.0,7A,NAPA VALLEY BIKE TOURS AND NAP,6488 WASHINGTON ST,YOUNTVILLE,CA,94599,"Wells Fargo Bank, National Association",101 N Philips Ave,SIOUX FALLS,...,NaN,0.0,0.0,8.0,NaN,NaN,NaN,NaN,"6488 WASHINGTON ST,YOUNTVILLE,CA,94599","[<Place name=""Yountville"", lat=38.401578099999..."